<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
  <variable name="game-logsFolder" value="D:\Razno\Logs\GameAPI" />
  <variable name="game-logsArchivesFolder" value="D:\Razno\Logs.Archives\GameAPI" />
  <variable name="game-app" value="GameAPI" />
  <variable name="game-logFileName" value="${game-app}" />
  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="fileTarget"
            layout="${date} | ${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}} | ${pad:padding=5:fixedLength=true:${level:uppercase=true}} | ${logger} | ${message} ${exception:format=tostring}"
            fileName="${game-logsFolder}\${game-logFileName}.log"
            archiveFileName="${game-logsArchivesFolder}\history.${game-logFileName}_{#}.log"
            archiveEvery="Day"
            archiveDateFormat="yyyy_MM_dd"
            maxArchiveFiles="10"
            archiveAboveSize="10000000"
            archiveNumbering="Sequence"/>
    <target xsi:type="File" name="errorFileTarget"
            layout="${date} | ${pad:padding=5:fixedLength=true:${level:uppercase=true}} | ${logger} | ${message} ${exception:format=tostring}"
            fileName="${game-logsFolder}\${game-logFileName}_Error.log"
            archiveFileName="${game-logsArchivesFolder}\history.${game-logFileName}_Error_{#}.log"
            archiveEvery="Day"
            archiveDateFormat="yyyy_MM_dd"
            maxArchiveFiles="10"
            archiveAboveSize="10000000"
            archiveNumbering="Sequence"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
    <logger name="*" minlevel="Info" writeTo="fileTarget" />
    <logger name="*" minlevel="Error" writeTo="errorFileTarget" />
  </rules>
</nlog>
